@use "variables.module";

.chat-box {
  flex-grow: 1;
  display: flex;
  min-height: 32px;
  background-color: variables.$dark-grey-colour;
  padding: 0px 16px 0px 16px;
  border-radius: 12px;
  gap: 16px;

  textarea {
    flex-grow: 1;
    height: 20px;
    background: none;
    border: none;
    padding: 16px 0px 16px 0px;
    outline: none;
    color: variables.$grey-colour;
    resize: none;
    font-family: Whitney;
  }

  :not(textarea) {
    margin-top: 15px;
  }
}
