@use "variables.module";

.appbar-pane {
  background-color: variables.$dark-colour;
  overflow-y: auto;
  padding: 10px 0px 10px 0px;

  & > * {
    width: 82px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

.tab-button {
  display: flex;
  background-color: variables.$background-colour;
  border-radius: 50%;

  box-sizing: border-box;
  width: 58px;
  height: 58px;
  padding: 12px;

  border-radius: 50%;
  background-color: variables.$background-colour;
  transition-duration: 200ms;

  &:hover,
  &.selected {
    cursor: pointer;
    border-radius: 30%;
    background-color: variables.$blurple;
  }
}
