@use "variables.module";

@font-face {
  font-family: "Whitney";
  src: url("fonts/whitneymedium.otf") format("opentype");
}

.app {
  background-color: variables.$background-colour;
  display: flex;
  height: 100%;
  font-family: "Whitney", "Courier New", Courier, monospace;
}

input[type="text"] {
  border: none;
  border-radius: 2px;
  background-color: #202226;
  outline: none;
  color: variables.$light-colour;
  text-shadow: 1px 1px 2px black;
  padding: 8px;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  font-size: large;
}

h3 {
  font-size: small;
}
