@use "variables.module";

@font-face {
  font-family: "Whitney";
  src: url("fonts/whitneymedium.otf") format(opentype);
}

@font-face {
  font-family: "Whitney";
  src: url("fonts/whitneybold.otf") format(opentype);
  font-weight: bold;
}

:is([class*="u-text-style-"], h1, h2, h3, h4, h5, h6, p, blockquote) {
  display: flow-root;
}
:is([class*="u-text-style-"], h1, h2, h3, h4, h5, h6, p, blockquote)::before {
  content: "";
  display: table;
  margin-bottom: calc(-0.5lh + 0.35em);
}
:is([class*="u-text-style-"], h1, h2, h3, h4, h5, h6, p, blockquote)::after {
  content: "";
  display: table;
  margin-bottom: calc(-0.5lh + 0.39em);
}

.app {
  background-color: variables.$background-colour;
  display: flex;
  height: 100%;
  font-family: "Whitney", "Courier New", Courier, monospace;
  color: variables.$grey-colour;
}

input[type="text"] {
  border: none;
  border-radius: 2px;
  background-color: #202226;
  outline: none;
  color: variables.$light-colour;
  padding: 8px;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  font-size: large;
}

h3 {
  font-size: small;
}
