@use "variables.module";

.message {
  display: flex;
  padding: 7px 24px 7px 24px;
  gap: 12px;
  color: variables.$grey-colour;
  align-items: center;

  &:hover {
    background-color: variables.$background-colour-2;
  }
}

.avatar-container {
  width: 42px;
  height: 1px;
  display: flex;
  align-items: center;
}

.message-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 14px;
}

.message-header {
  display: flex;
  margin-top: 8px;
  gap: 8px;
  align-items: flex-end;
}

.chat-avatar {
  border-radius: 50%;
}

.author {
  color: variables.$light-colour;
  font-weight: bold;
}

.timestamp {
  color: variables.$grey-colour;
  font-size: small;
}
